$primary-color: hsl(180deg 88% 29%);

.App-header {
  background-color: $primary-color;
  color: white;
  padding: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

// Taking shortcut by directly styling the html elements

.transaction-table {
  margin: 2rem;
  table {
    tr > td,
    tr > th {
      padding: 1.2rem 3rem;
    }
  }
}

.transaction-table-header > th {
  background-color: white;
  color: $primary-color;
  font-size: 1.2rem;
  font-weight: bold;
  &:first-child {
    width: 120px;
  }
  // &:nth-child(2) {
  //   width: 100px;
  // }
}

.transaction-table-body {
  background: rgb(247, 246, 244);
  background: linear-gradient(
    180deg,
    rgba(247, 246, 244, 1) 0%,
    rgba(255, 255, 255, 1) 20%
  );

  tr > td {
    color: gray;
    font-weight: 500;

    &:nth-child(2n) {
      font-size: 1rem;
      font-weight: bold;
      color: hsl(230deg 5% 25%);
    }

    &:nth-child(2), &:nth-child(3) {
      max-width: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  tr:hover > td {
    color: $primary-color;
  }
}
